/.vs
/env

/history
/queue
/assets/tmp
/assets/stats
/assets/alertlog.txt
/assets/AlertText.json
/assets/audio.wav
/assets/same.wav
/assets/eom.wav
/plugins

/config.json
/relay.xml
/run-qe.bat
/map_addons
/test.py